# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Docker
docker-compose.override.yml

#App
app/db.sqlite3
*.sqlite3

dist/
build/
*.spec
