{% extends 'base.html' %}

{% block title %}Confirmar Exclusão de Item{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card" style="width: 50%;">
        <div class="card-header">
            <h1 class="card-title">Confirmar Exclusão</h1>
        </div>
        <div class="card-body">
            <p>Tem certeza de que deseja excluir o item <strong>{{ object.ordem }}</strong> ({{ object.descricao }})?</p>
            <form method="post">
                {% csrf_token %}
                <div class="d-flex justify-content-between">
                    <a href="{% url 'item_list' object.compra_id %}" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}